/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    width: calc(25% - 20px); /* Ridotto per visualizzare più prodotti */
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra il contenuto */
}

.product h2 {
    font-size: 1rem; /* Ridotto per adattarsi meglio */
    margin: 10px 0;
}

.product p {
    margin-bottom: 10px;
    font-size: 0.9rem; /* Ridotto per adattarsi meglio */
}

.product video {
    width: 100%; /* Video occupa tutta la larghezza del suo contenitore */
    height: auto; /* Mantiene le proporzioni */
    max-height: 120px; /* Limita l'altezza per renderli più piccoli */
    border-radius: 8px;
    margin-bottom: 10px;
}

.download-button {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem; /* Ridotto per adattarsi meglio */
    text-decoration: none; /* Rimuove la sottolineatura */
    display: inline-block; /* Per il padding corretto */
}

/* Media Queries for Responsiveness */

@media (max-width: 1024px) {
    .product {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    header {
        padding: 5px 0;
    }

    .product {
        padding: 15px;
    }

    .product video {
        width: 100%; /* Video occupa tutta la larghezza del suo contenitore */
        max-height: 120px; /* Limita l'altezza per renderli più piccoli */
    }
}
